* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5); /* Transparencia */
    color: #ffffff;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#workspaces button.focused {
    color: #61afef; /* Azul bonito */
    border-bottom: 3px solid #61afef;
}

#clock, #cpu, #memory, #pulseaudio {
    padding: 0 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}